$social-size:32px;
$social-border:2px;

.social{
    list-style: none;
    padding: 0;
    text-align: center;
    &__item{
        display: inline-block;
        margin: 5px;
    }
    &__link
    {
        color: $light-gray;
        text-decoration: none;
        display: inline-block;
         line-height: calc(#{$social-size} - 2 * #{$social-border});
         height: $social-size;
         width: $social-size;
         border: $social-border solid $light-gray;
         border-radius: 50%;
          
            @include hover(){
                background-color: $light-gray;
                color: $secondary-color;
            }
    }
}